# Caches
__pycache__/
/*cache/

# Temp files
.*.sw[po]
*~
*.bak
.DS_Store

# Build and package files
/dist/

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov

# Front end
/front/node_modules
