# Caches
__pycache__/
/*cache/

# Temp files
.*.sw[po]
*~
*.bak
.DS_Store

# Build and package files
/dist/

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov

# Front end
/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions
