# To install the git pre-commit hooks run:
#   pre-commit install --install-hooks
# To update the versions:
#   pre-commit autoupdate
# Note the order is intentional to avoid multiple passes of the hooks
exclude: |
  (?x)^(
    yarn\.lock|
    .yarn/.*
  )$
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/JoC0de/pre-commit-prettier
    rev: v3.8.1
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier
          - "@trivago/prettier-plugin-sort-imports"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
